<mat-toolbar color="primary">
  <span>My Application</span>
</mat-toolbar>

<mat-sidenav-container class="side-nav-container" fxFlex>
  <mat-sidenav opened="true" mode="side" style="background-color: crimson">
    <div class="side-nav-section mat-body-strong">TEST</div>
  </mat-sidenav>
  <mat-sidenav-content fxFlex style="background-color: burlywood">
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer style="height: 100px;background-color: cadetblue">SPS</footer>
