/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex: 1 1 auto;
  height: 100%
}

